@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Slab";
}

.main-div{
  background-color: #0E4749;
  width: 1050px;
  /* height: 100vh; */
  margin: 80px auto;
  border-radius: 20px;
  border: 2px dashed rgb(0, 24, 47);
  padding: 70px;

}

.tab-list {
  display: flex;
  justify-content: center;
}

.tab-links {
  margin:25px 20px;
}

.tab-links, a:link{
  text-decoration: none;
  color: #F2FDFF;
  
}
.tab-links a:visited {
  text-decoration: none;
  color: #F2FDFF;
}
.tab-links a:hover{
  text-decoration: none;
  color: #F0C808;
  font-size: 20px;
}


.display-tab-forms{
  margin: 40px;
}

.box-array-list {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  
}

.outer-form-container {
  display: flex;
  justify-content: space-between;
  width:95%;
  height: 35%;
  padding: 25px;
  margin-bottom: 15px;
  border-radius: 10px;
}

.boxColor {
  margin: 5px;
}